---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Acerca del sitio" >
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, odit! Ipsa ducimus dolore eius, harum labore officia mollitia molestias nostrum. Cupiditate dolorem laboriosam accusantium nihil. Sint, labore dolore unde, voluptas cum inventore dicta minus placeat, libero porro architecto esse! Beatae et excepturi architecto tempore, at itaque ut quae assumenda corporis labore eos esse. Nisi atque ipsum aut eum. Deserunt obcaecati tempora consequatur maiores, placeat velit consequuntur quasi suscipit repudiandae mollitia iste aspernatur molestiae delectus earum accusantium accusamus sed porro, distinctio illum dignissimos adipisci, unde voluptatum doloremque inventore. Vero dolor similique nobis modi velit reiciendis ipsa error culpa suscipit enim. Facere?</p>

</Layout>